{
    "idmc": {
        "host": "<IDMC hostname (i.e. dm-us.informaticacloud.com)>",
        "pod": "<IDMC pod (i.e. usw1)>",
        "user": "<username>",
        "password": "<password>",
        "agentGroupName": "<secure agent group name>"
    },
    "local": {
        "scriptsDir": "<script directory path>"
    }
}